/*
//
//
//
*/
.ddTable {
  BORDER: white 2px outset;
  COLOR: THREEDDARKSHADOW;
  BACKGROUND-COLOR: THREEDHIGHLIGHT;
}
.ddHeader {
  BORDER: THREEDLIGHTSHADOW 2px solid;
  FONT-WEIGHT: bold;
  COLOR: CAPTIONTEXT;
  BACKGROUND-COLOR: ACTIVECAPTION;
}
.ddBody {
  BORDER: white 2px outset;
  PADDING: 4px;
  COLOR: THREEDDARKSHADOW;
  BACKGROUND-COLOR: THREEDHIGHLIGHT;
}

.ddTd {
  COLOR: THREEDDARKSHADOW;
  BACKGROUND-COLOR: THREEDHIGHLIGHT;
}

.tdcaption {   COLOR: THREEDDARKSHADOW; BACKGROUND-COLOR: THREEDHIGHLIGHT; }
.tdinput { BACKGROUND-COLOR: THREEDHIGHLIGHT; }

.buttonscaption {  background-color: THREEDHIGHLIGHT; }
.buttonsinput {  background-color: THREEDHIGHLIGHT; }
